<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>마이잡디</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{layouts/header :: header}"></div>
<!---->
<div th:if="${error}">
  <div class="alert alert-danger">
    이메일 또는 비밀번호를 확인해 주세요.
  </div>
</div>

<form th:action="@{/login}" method="post" th:object="${userDto}">
  <div class="mb-3">
    <label class="form-label">이메일</label>
    <input type="email" class="form-control" th:field="*{email}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">패스워드</label>
    <input type="password" class="form-control" th:field="*{password}" required>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary" href="/signUp" role="button">회원 등록</a>
    <button type="submit" class="btn btn-primary">로그인</button></div>
</form>
<!---->
<div th:insert="~{layouts/footer :: footer}"></div>
</body>
</html>